server:
  port: 8888

spring:
  application:
    name: config-server
  rabbitmq:
    host: "${RABBIT_MQ_HOST_IP}"
    port: "${RABBIT_MQ_PORT}"
    username: "${RABBIT_MQ_USERNAME}"
    password: "${RABBIT_MQ_PASSWORD}"
  cloud:
    config:
      server:
        git:
          uri: "${GITLAB_CONFIG_SERVER_URL}"
          username: "${GITLAB_USERNAME}"
          password: "${GITLAB_PASSWORD}"

management:
  endpoints:
    web:
      exposure:
        include: health, busrefresh